#content {
	margin-top: 75px;
}

.section-title {
	font-size: 1.5em;
}

.gearset-list a {
	cursor: pointer;
}

#item-list {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 0;
	background: #222;
	overflow: auto;
	z-index: 1031;
	transition: 0.3s width;

	.item-container {
		border-bottom: 1px solid #000;
	}
}

.item {
	padding: 10px;
	background: #222;
	cursor: pointer;
}

img.item-thumb {
	width: 50px;
	height: 50px;
	border: 1px solid #000;
}

#active-gearset {
	.panel-body {
		min-height: 100px;
	}
}

.gearset-toolbar {
	margin-bottom: 5px;
}

label.charEmblem {
	padding: 5px;
	margin: 0px 5px;
	background: transparent;
	border: none;

	span {
		&.emblemBkgd {
			img {
				height: 40px;
			}
		}

		&.emblemIcon {
			img {
				height: 40px;
			}

			position: absolute;
			left: 5px;
		}

		&.charClass {
			font-size: 16px;
			font-weight: 400;
			position: absolute;
			left: 50px;
			top: 8px;
		}

		&.charRaceGender {
			font-size: 12px;
			position: absolute;
			left: 50px;
			top: 27px;
		}

		&.charLevel {
			font-size: 22px;
			position: absolute;
			top: 3px;
			right: 10px;
			color: rgba(245, 220, 86, 1);

			&:before {
				content: "\2726";
				font-size: 60%;
				position: relative;
				top: -3px;
				left: -2px;
			}
		}

		&.charGrimoire {
			font-size: 10px;
			padding-left: 12px;
			position: absolute;
			right: 10px;
			top: 28px;
			background: url(/includes/images/icon_grimoire_lightgray.png) 0 50% no-repeat;
			background-size: 10px;
		}
	}
}

div#alert-modal {
	div.loadingMessage {
		text-align: center;
	}
}

.item-thumb-container, .item-info-container {
	display: inline-block;
	vertical-align: top;
}

.item-info-container {
	padding-left: 5px;
	font-size: 0.8em;
	color: #FFF;
}

.additional-items {
	.additional-item {
		display: inline-block;
		margin-top: 5px;
		margin-right: 5px;
		cursor: pointer;
	}
}

#loading-gearsets {
	display: none;
}

span.username-error-msg,
span.password-error-msg {
	display: none;
	color: #CC0000;
	float: right;
}

.errorState {
	border: 1px solid #CC0000;
}

.vex {
	&.vex-theme-flat-attack {
		padding-top: 30px;

		.modal-header {
			padding: 8px;
		}
		.modal-body {
			.alert {
				padding: 0px 0px 0px 15px;
			}
		}
		.vex-content {
			padding: 10px;

			.loadingImage {
				text-align: center;
			}
		}
	}

}
#alertWrapper {
	width: 100%;
	position: absolute;
	top: 30px;
	z-index: 1100;

	#alerts {
		width: 600px;
		margin: 0 auto;

		alert {
			display: block;
			padding: 10px;
			margin: 10px 0px;

			button.close {
				right: 0px;
			}
		}

	}
}

